debug = true
testing = false
secret_key = "${SECRET_KEY|b248a1d25be9e7ad6c006c3c678f11056fb2c1f0c512c09371d90237b0de8bfc}"
identity_strategy = "uuid"
identity_type = "string"
event_processing = "sync"
command_processing = "sync"
message_processing = "sync"

# Default Database Configuration
[databases.default]
provider = "postgresql"
database_uri = "${DATABASE_URL|postgresql://postgres:postgres@localhost:5432/identity_local}"

# Default Event Store Configuration
[event_store]
provider = "message_db"
database_uri = "${MESSAGE_DB_URL|postgresql://message_store:message_store@localhost:5433/message_store}"

# Default Broker Configuration
[brokers.default]
provider = "redis"
URI = "redis://127.0.0.1:6379/0"
